{
  "root": true,
  "extends": [
    "plugin:@wordpress/eslint-plugin/recommended"
  ],
  "plugins": [
    "@wordpress"
  ],
  "rules": {
    "@wordpress/no-unsafe-wp-apis": "off"
  },
  "ignorePatterns": [
    "node_modules/",
    "build/",
    "dist/",
    "**/*.min.js"
  ]
}
