/*
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: pageflash
Description: PageFlash - Fast and Efficient Headless Browser WordPress Plugin.
Tags: headless-browser, pageflash, prefetches, quicklink, quickload, performance, speed, fast, prefetch, seo preconnect, optimization.
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#pageflash-admin{
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
/* e.g. in styles.css */
.pageflash-toast-container {
  top: 50px !important;  /* override default 1em */
  right: 25px !important;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "./admin/header";
@import "./admin/welcome";
@import "./admin/addons";
@import "./admin/settings";