/*
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: pageflash
Description: PageFlash - Fast and Efficient Headless Browser WordPress Plugin.
Tags: headless-browser, pageflash, prefetches, quicklink, quickload, performance, speed, fast, prefetch, seo preconnect, optimization.
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
